<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <!-- PERMISOS -->
    <!-- Acceso a internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Acceso a imágenes de la galería -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Solo para versiones antiguas (Android 9 y anteriores) -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MarketPlace"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- ACTIVIDAD PRINCIPAL (Login) -->
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ACTIVIDADES SECUNDARIAS -->
        <activity android:name=".Home" android:exported="true"/>
        <activity android:name=".Registro" android:exported="true"/>
        <activity android:name=".Publicar" android:exported="true"/>
        <activity android:name=".AnunciosActivity" android:exported="true"/>
        <activity android:name=".Detalle_Producto" android:exported="true"/>
        <activity android:name=".EditarPerfilActivity" android:exported="true"/>
        <activity android:name=".CuentaActivity" android:exported="true"/>
        <activity android:name=".CambiarPasswordActivity" android:exported="true"/>
        <activity android:name=".ChatActivity" android:exported="true"/>

    </application>

</manifest>
